.title{
    position: relative;
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-input{
    position: relative;
    display: flex;
    height: 80vh;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.instr{
    position: relative;
    display: flex;
    height: 16vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input{
    position: relative;
    display: flex;
    height: 56vh;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.generate{
    position: relative;
    display: flex;
    height: 16vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#textarea{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 95%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.generate-btn{
    border-radius: 3vh;
    height: 6vh;
    width: 25vh;
    color: #c5c6c7;
    border-color: #45a29e;
    border-width: 2px;
    border-style: solid;
    background-color: #1f2833;
    font-family: 'Poppins', sans-serif;
}

.generate-btn:hover{
    background-color: #66fcf1;
    color: black;
    border-color: #66fcf1;
    cursor: pointer;
}