body {
    background-color: #0b0c10;
}

h1 {
    color: #66fcf1;
    font-size: 8vh;
    font-family: 'Poppins', sans-serif;
}

p{
    color: #c5c6c7;
    font-size: 3vh;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

textarea{
    font-size: 2vh;
}

@import url('../assets/type/metropolis/metropolis.css');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: metropolisbold, Geneva, Tahoma, sans-serif;
}

.box {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color:  #0b0c10;
}

.box::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 300vh;
  height: 300vh;
  background: #1e3937a1;
  top: -50vh;
  transform: translateX(-50%) rotate(0deg);
  border-radius: 45%;
  animation: fill 7s ease-in infinite;
}

@keyframes fill {
  0% {
    top: -300vh;
    transform: translateX(-50%) rotate(360deg);
  }
  90% {
    top: -50vh;
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    background: #0b0c10;
  }
}